:root {
    --theme: #fff;
    --entry: #ffffff;
    --primary: rgba(40, 40, 40, 0.88);
    --secondary: rgba(27, 27, 27, 0.78);
    --tertiary: rgba(40, 40, 40, 0.16);
    --content: rgba(15, 15, 15, 0.88);
    --hljs-bg: #161616;
    --code-bg: #f5f5f5;
    --border: #eee;
}

.dark {
    --theme: #1a1a1f;
    --entry: #212128;
    --primary: rgba(252, 252, 252, 0.96);
    --secondary: rgba(245, 245, 245, 0.66);
    --tertiary: rgba(5, 5, 5, 0.32);
    --content: rgba(252, 252, 252, 0.82);
    --hljs-bg: #2e2e33;
    --code-bg: #37383e;
    --border: #446;
}
